<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>$title$ - fugu.cafe</title>
<meta name="description" content="$description$">
<meta property="og:title" content="$title$">
<meta property="og:description" content="$description$">
<meta property="og:type" content="website">
<meta property="og:url" content="$root$$url$">
$if(og_image)$
<meta property="og:image" content="$root$$og_image$">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="$root$$og_image$">
$else$
<meta name="twitter:card" content="summary">
$endif$
<meta name="twitter:title" content="$title$">
<meta name="twitter:description" content="$description$">
<link rel="stylesheet" href="/css/style.css">
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
</head>
<body>
<header><h1><a href="/">fugu.cafe</a></h1></header>
<address>
<a href="mailto:joao.guedes@posteo.com">joao.guedes@posteo.com</a> |
<a href="/rss.xml">rss</a>
<p class="wallet">
Support (XMR) ->
<code>
84s6xrez1CaWnD1P5xZLkH1PHC3CQsjmieUhxnUP4QGb3Mu4SMf8v5yGSVAHdAxgqN5YDfxUCGWEW2Uib8JSsNk576hwxkz
</code>
</p>
</address>
<main>
$body$
</main>
<footer>
<p>Content under <a href="https://creativecommons.org/licenses/by/4.0/legalcode" rel="license noopener noreferrer" target="_blank">CC-BY-4.0</a>.</p>
<p>&copy; 2026 fugu.cafe</p>
</footer>
</body>
</html>
